.slider-status {
    background-color: #000000;
    border-radius: 100px;
    backdrop-filter: blur(4px);
    padding: 5px 10px;
    color: white;
    width: fit-content;
    display: flex;
    align-items: center;

    .is-live {
        background-color: #ff0000;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        margin-right: 5px;
        animation-name: fadeInOut;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
    }

    .status-text {
        padding-top: 3px;
        font-size: 12px;
        line-height: 12px;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
