.footer {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ccc;

  &-links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      margin-right: 10px;
      text-decoration: none;
      font-size: 16px;
      color: #ccc;
      font-weight: normal;
      letter-spacing: 1px;
      padding: 0 5px;
      text-transform: capitalize;
    }
  }
  &-copyright {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 300;
    word-spacing: 1px;
    text-transform: capitalize;
  }
}
