.shop-the-streets-container {
  // padding: 64px 60px;
  background-color: #fff9d9;
  overflow: scroll;
  height: 100vh;
  max-width: 1440px;
  margin: auto;
  p {
    margin-block: 0;
  }
  .header-info {
    width: 100%;
    max-width: 541px;
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      color: #141414;
    }
    .description {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #4d4d4d;
      margin-top: 8px;
    }
  }

  .event-card {
    .swiper-container {
      margin-top: 14.4px;
      height: 477px;
      overflow: initial;
      .swiper-wrapper {
        align-items: center;
        margin-left: -36px; // (item_width - item_active_width)/2
        @media screen and (max-width: 786px) {
          margin-left: 0;
        }
      }

      .swiper-slide {
        @media screen and (min-width: 786px) {
          margin-left: 8px;
        }

        width: 308px !important;
        height: 385px;
        transition: all 0.2s ease-in-out;
      }
      .swiper-slide-active {
        filter: drop-shadow(0px 12px 16px rgba(0, 0, 0, 0.25));
      }
      .swiper-slide.swiper-slide-active {
        height: 477px;
        width: 380px !important;
      }
      .swiper-button {
        background-color: #000;
        height: 64px;
        width: 64px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: absolute;
        top: 45%;
        cursor: pointer;
        &:hover,
        :active {
          background-color: #141516;
        }
      }
      .swiper-button-next {
        right: 32px;
      }
      .swiper-button-prev {
        left: 32px;
      }
      @media screen and (max-width: 786px) {
        margin-top: 0;
        height: 355px;
        overflow: hidden;

        padding-left: 24px;
        .swiper-slide {
          margin-right: 14px;
        }
        .swiper-slide,
        .swiper-slide.swiper-slide-active {
          height: 355px !important;
          width: 284px !important;
        }
        .swiper-slide-active {
          filter: none;
        }
        .swiper-button {
          display: none;
        }
      }
    }
  }
  @media screen and(max-width:786px) {
    padding: 48px 0 59px 0;

    .header-info {
      max-width: 327px;
      padding-left: 24px;
      .title {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
      }
      .description {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
      }
    }
  }
  @media screen and(min-width:786px) {
    .header-info {
      padding-top: 64px;
      margin-left: 60px;
    }

    .event-card {
      padding-top: 21px;
      padding-bottom: 75px;
    }
  }
}
