.global-event-item-container {
    text-decoration: none;
    color: black;
    align-items: stretch;
    display: flex;
    justify-content: flex-start;

    position: relative;

    &--link {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .btn-calendar {
        position: relative;
        z-index: 5;
    }

    .event-time-and-date {
        display: none;
    }

    &.nyfw-list {
        border-radius: 24px;
        display: flex;
        .lead-image {
            width: 208px;
            height: 208px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 24px 0 0 24px;
        }

        .event-content-md {
            display: none;
        }

        @media screen and (max-width: 768px) {
            border-radius: 0;
            flex-direction: row;

            align-items: center;
            justify-content: center;

            background-color: transparent !important;
            flex-wrap: wrap;

            .lead-image {
                border-radius: 24px 24px;

                width: 106px;
                height: 106px;

                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .event-time-and-date {
                display: block;
                width: 100%;

                // padding: 0 24px;

                font-size: 14px;
                line-height: 14px;

                margin-bottom: 4px;
                margin-top: 8px;

                font-weight: 600;
            }

            .event-content-lg {
                display: none;
            }
            .event-content-md {
                display: block;
                padding: 23px 20px;
                padding-right: 0px;

                width: calc(100% - 172px);

                .content-right {
                    .btn-calendar {
                        transform: translateY(50%);
                    }
                }

                .start-date,
                .event-description {
                    display: none;
                }

                .event-title {
                    margin-top: 8px !important;
                    font-size: 16px !important; // Sorry for this...^
                    line-height: 18px !important;
                }

                .event-location {
                    margin-top: 4px;

                    svg {
                        display: none;
                    }
                }

                .event-btn-group {
                    display: none !important;
                }
            }
        }
    }

    &.nyfw-grid {
        flex-direction: column;
        border-radius: 24px;

        .lead-image {
            border-radius: 24px;
            max-width: 100%;
            width: 100%;
            padding-top: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            cursor: pointer;

            transition: all 0.3s ease-in;
        }

        .event-content-lg {
            display: none;
        }
        .event-content-md {
            display: flex;
            padding: 48px 24px;
        }
        &:hover {
            .lead-image {
                background-size: 110%;
            }
        }
    }

    &.nyfw-2022 {
        &.nyfw-grid {
            border-radius: 0;
            .lead-image {
                border-radius: 0 0 24px 24px;
                padding-top: 64%;
            }
        }
    }

    &.event-disable-cta {
        .global-event-item-container--link {
            pointer-events: none;
            cursor: default;
            text-decoration: none;
        }
        .event-learn-more-button {
            display: none;
        }
    }
}
